
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h4>Filters</h4>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label>Brand:</label>
                <select  class="form-control" >
                    <option value="">--All--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Model:</label>
                <select  class="form-control" >
                    <option value="">--All--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Equipment:</label><br />
                
                    <div class="checkbox">
                        <label><input type="checkbox" name="Equipment" value="equipment">equipment</label>
                    </div>
                
            </div>
            <div class="form-group">
                <label>Year of Production:</label>
                <input type="range" min="1970" max="2023" value="2010" class="slider" id="Year" name="Year">
                <p>Year: <span id="year"></span></p>
            </div>
            <div class="form-group">
                <label>Engine Size:</label>
                <input type="text" name="EngineSize" class="form-control" />
            </div>
            <div class="form-group">
                <label>Engine Type:</label>
                <div class="radio">
                    <label><input type="radio" name="EngineType" value="Petrol">Petrol</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="EngineType" value="Diesel">Diesel</label>
                </div>
            </div>
            <div class="form-group">
                <label>Transmission:</label>
                <div class="radio">
                    <label><input type="radio" name="Transmission" value="Automatic">Automatic</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="Transmission" value="Manual">Manual</label>
                </div>
            </div>
            <button type="submit" class="button">Apply Filters</button>
        </form>
    </div>
    <div class="col-md-9">
        
    </div>
</div>