@model USP_Project.Web.Models.Cars.CreateCarInputModel

@{
    ViewData["Title"] = "Add Car";
}



@if (ViewData["Errors"] != null)
{
    <div class="alert alert-danger">
        @foreach (var error in (IEnumerable<string>)ViewData["Errors"])
        {
            <div>@error</div>
        }
    </div>
}
<div class="row">
    <div class="col-5">
        <h2>Add New Car</h2>
        <hr/>
        <form method="post">
            <div class="form-group">
                <label for="BrandName">Brand Name</label>
                <select class="form-control" id="BrandName" name="BrandName">
                    @foreach (var brand in Model.AllBrands)
                    {
                        <option>@brand</option>
                    }
                </select>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="BrandDescription">Brand Description</label>
                <input class="form-control" id="BrandDescription" name="BrandDescription" value="@Model.BrandDescription"/>
                <span asp-validation-for="BrandDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ModelName">Model Name</label>
                <select class="form-control" id="ModelName" name="ModelName">
                    @foreach (var models in Model.AllModels)
                    {
                        <option>@models</option>
                    }
                </select>
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Extras">Extras</label>
                <select class="form-control" id="Extras" name="Extras" multiple>
                    <option value="Air Conditioning">Air Conditioning</option>
                    <option value="GPS Navigation">GPS Navigation</option>
                    <option value="Bluetooth">Bluetooth</option>
                </select>
                <span asp-validation-for="Extras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image">Car Image</label>
                <input type="file" id="Image" name="ImageUpload"/>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 0.5rem;">Create</button>
        </form>
    </div>
</div>