@model USP_Project.Data.Models.Car
@{
    ViewData["Title"] = "Create Car";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="BrandId" class="control-label"></label>
        <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control"></select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelId" class="control-label"></label>
        <select asp-for="ModelId" asp-items="@ViewBag.Models" class="form-control"></select>
        <span asp-validation-for="ModelId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Extras" class="control-label"></label>
        <select asp-for="CarsExtras" asp-items="@ViewBag.Extras" class="form-control"></select>
        <span asp-validation-for="Extras" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
